@import "tailwindcss";

@theme {
  --animate-slide-in-from-bottom: slideInFromBottom 0.2s ease-in-out;
  --animate-text-focus: textFocus 0.4s ease-in-out;

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  }

  @keyframes textFocus {
    0% {
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  --color-dark-50: #f8f8fc;
  --color-dark-100: #e0e0f0;
  --color-dark-200: #b8b8d0;
  --color-dark-300: #8a8aa8;
  --color-dark-400: #5a5a7a;
  --color-dark-500: #3a3a4a;
  --color-dark-600: #2e2e3c;
  --color-dark-700: #22222e;
  --color-dark-800: #20202c;
  --color-dark-900: #1a1a24;
  --color-dark-1000: #141420;
  --color-dark-1100: #12121c;
  --color-dark-1200: #101018;
  --color-dark-1300: #0e0e14;
  --color-dark-1400: #0a0a10;
  --color-dark-1500: #08080c;

  --color-primary: #00b9b4;
  --color-secondary: var(--color-dark-800);
  --color-root: var(--color-dark-900);
  --color-active: var(--color-blue-400);
  --color-focus: var(--color-blue-400);
  --color-text-dark: var(--color-dark-100);
  --color-text-light: var(--color-dark-900);
  --color-alert-error: var(--color-red-300);
  --color-alert-warning: var(--color-orange-300);
  --color-alert-info: var(--color-blue-300);
  --color-alert-success: var(--color-green-300);
  --color-macos-red: var(--color-red-400);
  --color-macos-yellow: var(--color-yellow-400);
  --color-macos-green: var(--color-green-400);
  --color-search: var(--color-blue-300);
}

@font-face {
  font-family: "DepartureMono";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
}
body {
  background: var(--color-dark-900);
}
